@import '/src/assets/main.scss';

.bodyDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 15px 0px;
  height: calc(100% - 30px);
}

.bodyDiv h2 {
  font-family: 'Coustard', sans-serif;
  font-weight: 900;
  font-size: var(--wito-text-height-24);
  color: var(--wito-text-menu);
  padding-bottom: 15px;
}

.btnMode {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  background: none;

  font-family: 'Coustard', sans-serif;
  font-weight: 400;
  font-size: var(--wito-text-height-16);
  color: var(--wito-text-menu);
}

.btnMode button {
  cursor: pointer;
  border-radius: 50px;
  border-color: var(--wito-border-mode-btn);
  padding: 5px 15px;
}

.activeBtn:hover {
  box-shadow: 2px 2px 2px var(--wito-black-light-25);
}

.notActiveBtn {
  opacity: 45%;
}