@import '/src/assets/main.scss';

.chronoBodyDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 15px 0px;
  height: calc(100% - 30px);
}

.chronoDiv {
  display: flex;
  flex-direction: column;
  background-color: var(--wito-background-mode);
  color: var(--wito-text-mode);
  border-radius: 10px;
}

.headerChronoDiv {
  display: flex;
  justify-content: space-between;
  gap: auto;
  padding: 15px 30px;
  border-bottom: 1px solid var(--wito-white-light-25);
}

.headerChronoDiv h3 {
  font-family: 'Coustard', sans-serif;
  font-weight: 900;
}

.timerChronoDiv {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  font-size: var(--wito-text-height-24);
}

.bodyChronoDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 50px 30px;
  gap: 25px 50px;
  max-width: 700px;
}

.goHome, .reload {
  cursor: pointer;
}

.goHome:hover, .reload:hover {
  border-bottom: 1px solid var(--havelock-blue-50);
}