@import '/src/assets/main.scss';

.infiniteBodyDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 15px 0px;
  height: calc(100% - 30px);
}

.infiniteDiv {
  display: flex;
  flex-direction: column;
  background-color: var(--wito-background-mode);
  color: var(--wito-text-mode);
  border-radius: 10px;
}

.headerInfiniteDiv {
  display: flex;
  justify-content: space-between;
  gap: auto;
  padding: 15px 30px;
  border-bottom: 1px solid var(--wito-white-light-25);
}

.headerInfiniteDiv h3 {
  font-family: 'Coustard', sans-serif;
  font-weight: 900;
}

.bodyInfiniteDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 50px;
  gap: 25px 50px;
  max-width: 700px;
}

.card {
  cursor: pointer;
  background-color: var(--wito-background-mode-card);
  border-width: 2px;
  border-style: solid;
  border-color: var(--wito-border-mode-card);
  min-width: 85px;
  max-width: 100px;
  // min-height: 100px;
  // max-height: 150px;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 4px 4px 2px var(--wito-white-light-25);
}

.cardBack {
  // font-size: var(--wito-text-height-96);
  font-size: 56px;
  font-family: 'Coustard', sans-serif;
  font-weight: 400;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.goHome {
  cursor: pointer;
}